.elementor-658 .elementor-element.elementor-element-2c16447>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-658 .elementor-element.elementor-element-2c16447 {
    margin-top: 4rem;
    margin-bottom: -6rem;
    z-index: 1;
}

.elementor-658 .elementor-element.elementor-element-512c612 .shelly-heading {
    color: #FFFFFF;
}

.elementor-658 .elementor-element.elementor-element-512c612 .shelly-heading span {
    color: #FFFFFF;
}

.elementor-658 .elementor-element.elementor-element-512c612>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 4rem 4rem 0rem 4rem;
}

.elementor-658 .elementor-element.elementor-element-9adfd04 {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
}

.elementor-658 .elementor-element.elementor-element-9adfd04>.elementor-widget-container {
    padding: 0rem 4rem 4rem 4rem;
}

.elementor-658 .elementor-element.elementor-element-d0efc98>.elementor-widget-container {
    padding: 3rem 3rem 3rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-bef73ac:not(.elementor-motion-effects-element-type-background),
.elementor-658 .elementor-element.elementor-element-bef73ac>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-658 .elementor-element.elementor-element-bef73ac {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10rem 0rem 0rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-bef73ac>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-658 .elementor-element.elementor-element-bef73ac>.elementor-shape-top .elementor-shape-fill {
    fill: #F5FCFF;
}

.elementor-658 .elementor-element.elementor-element-bef73ac>.elementor-shape-top svg {
    width: calc(100% + 1.3px);
    height: 96px;
}

.elementor-658 .elementor-element.elementor-element-2140a53>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-0b86865 .contact-icon i {
    color: var(--e-global-color-primary);
    font-size: 16px;
}

.elementor-658 .elementor-element.elementor-element-0b86865 {
    width: var( --container-widget-width, 92.767%);
    max-width: 92.767%;
    --container-widget-width: 92.767%;
    --container-widget-flex-grow: 0;
}

.elementor-658 .elementor-element.elementor-element-0b86865.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-658 .elementor-element.elementor-element-cb21b69>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-2485512>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-e6ec23a>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-dbea99e {
    width: var( --container-widget-width, 106.406%);
    max-width: 106.406%;
    --container-widget-width: 106.406%;
    --container-widget-flex-grow: 0;
}

.elementor-658 .elementor-element.elementor-element-dbea99e.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-658 .elementor-element.elementor-element-ca8c799>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-658 .elementor-element.elementor-element-ca8c799:not(.elementor-motion-effects-element-type-background),
.elementor-658 .elementor-element.elementor-element-ca8c799>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-658 .elementor-element.elementor-element-ca8c799 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2rem 0rem 1rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-ca8c799>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-658 .elementor-element.elementor-element-91210c9.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-658 .elementor-element.elementor-element-3b8b31a {
    --divider-border-style: solid;
    --divider-color: #C9E2F8;
    --divider-border-width: 2px;
}

.elementor-658 .elementor-element.elementor-element-3b8b31a .elementor-divider-separator {
    width: 100%;
}

.elementor-658 .elementor-element.elementor-element-3b8b31a .elementor-divider {
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-658 .elementor-element.elementor-element-2958f6b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-658 .elementor-element.elementor-element-2958f6b:not(.elementor-motion-effects-element-type-background),
.elementor-658 .elementor-element.elementor-element-2958f6b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-658 .elementor-element.elementor-element-2958f6b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1rem 0rem 4rem 0rem;
}

.elementor-658 .elementor-element.elementor-element-2958f6b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-658 .elementor-element.elementor-element-c588e74.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-658 .elementor-element.elementor-element-2d380d8 {
    font-size: 15px;
    width: auto;
    max-width: auto;
}

.elementor-658 .elementor-element.elementor-element-7c03edc {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-658 .elementor-element.elementor-element-7c03edc .elementor-widget-container {
    text-align: right;
}

.elementor-658 .elementor-element.elementor-element-7c03edc.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-658 .elementor-element.elementor-element-7c3c67b {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-658 .elementor-element.elementor-element-7c3c67b.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-658 .elementor-element.elementor-element-2ead48e.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-658 .elementor-element.elementor-element-ad6fd49 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-658 .elementor-element.elementor-element-ad6fd49 .elementor-widget-container {
    text-align: right;
}

.elementor-658 .elementor-element.elementor-element-ad6fd49.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

@media(max-width:1024px) {
    .elementor-658 .elementor-element.elementor-element-512c612>.elementor-widget-container {
        padding: 2rem 2rem 0rem 2rem;
    }
    .elementor-658 .elementor-element.elementor-element-9adfd04>.elementor-widget-container {
        padding: 0rem 2rem 2rem 2rem;
    }
    .elementor-658 .elementor-element.elementor-element-d0efc98>.elementor-widget-container {
        padding: 2rem 2rem 2rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-0b86865>.elementor-widget-container {
        margin: 0rem 0rem 2rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-dba3493>.elementor-widget-container {
        margin: 0rem 0rem 2rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-8a18e1e>.elementor-widget-container {
        margin: 0rem 0rem 2rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-ca8c799 {
        padding: 1rem 0rem 1rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-2d380d8 {
        font-size: 11px;
    }
    .elementor-658 .elementor-element.elementor-element-7c03edc {
        width: var( --container-widget-width, 199.062px);
        max-width: 199.062px;
        --container-widget-width: 199.062px;
        --container-widget-flex-grow: 0;
    }
    .elementor-658 .elementor-element.elementor-element-7c3c67b {
        font-size: 11px;
        width: var( --container-widget-width, 231.062px);
        max-width: 231.062px;
        --container-widget-width: 231.062px;
        --container-widget-flex-grow: 0;
    }
    .elementor-658 .elementor-element.elementor-element-ad6fd49 {
        width: var( --container-widget-width, 199.062px);
        max-width: 199.062px;
        --container-widget-width: 199.062px;
        --container-widget-flex-grow: 0;
    }
}

@media(max-width:767px) {
    .elementor-658 .elementor-element.elementor-element-512c612>.elementor-widget-container {
        padding: 3rem 0rem 0rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-9adfd04>.elementor-widget-container {
        padding: 0rem 0rem 2rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-d0efc98>.elementor-widget-container {
        padding: 0rem 0rem 3rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-8b28174.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-658 .elementor-element.elementor-element-0746042.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-658 .elementor-element.elementor-element-ca8c799 {
        padding: 1rem 0rem 1rem 0rem;
    }
    .elementor-658 .elementor-element.elementor-element-3b8b31a .elementor-divider-separator {
        width: 100%;
    }
    .elementor-658 .elementor-element.elementor-element-3b8b31a {
        width: 100%;
        max-width: 100%;
    }
    .elementor-658 .elementor-element.elementor-element-3b8b31a.elementor-element {
        --align-self: center;
    }
    .elementor-658 .elementor-element.elementor-element-c588e74.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-658 .elementor-element.elementor-element-2d380d8 {
        text-align: center;
    }
    .elementor-658 .elementor-element.elementor-element-7c03edc .elementor-widget-container {
        text-align: center;
    }
    .elementor-658 .elementor-element.elementor-element-7c03edc {
        width: var( --container-widget-width, 330px);
        max-width: 330px;
        --container-widget-width: 330px;
        --container-widget-flex-grow: 0;
    }
    .elementor-658 .elementor-element.elementor-element-7c03edc.elementor-element {
        --align-self: center;
    }
    .elementor-658 .elementor-element.elementor-element-7c3c67b {
        text-align: center;
        --container-widget-width: 330px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 330px);
        max-width: 330px;
    }
    .elementor-658 .elementor-element.elementor-element-7c3c67b.elementor-element {
        --align-self: center;
    }
    .elementor-658 .elementor-element.elementor-element-2ead48e.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-658 .elementor-element.elementor-element-ad6fd49 .elementor-widget-container {
        text-align: center;
    }
}

@media(min-width:768px) {
    .elementor-658 .elementor-element.elementor-element-04e8af6 {
        width: 29.385%;
    }
    .elementor-658 .elementor-element.elementor-element-8b28174 {
        width: 22.632%;
    }
    .elementor-658 .elementor-element.elementor-element-611d7bc {
        width: 22.961%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-658 .elementor-element.elementor-element-04e8af6 {
        width: 50%;
    }
    .elementor-658 .elementor-element.elementor-element-8b28174 {
        width: 50%;
    }
    .elementor-658 .elementor-element.elementor-element-0746042 {
        width: 100%;
    }
}