.elementor-654 .elementor-element.elementor-element-a411678 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-654 .elementor-element.elementor-element-a411678:not(.elementor-motion-effects-element-type-background),
.elementor-654 .elementor-element.elementor-element-a411678>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-654 .elementor-element.elementor-element-a411678,
.elementor-654 .elementor-element.elementor-element-a411678::before {
    --border-transition: 0.3s;
}

.elementor-654 .elementor-element.elementor-element-1119d32 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-654 .elementor-element.elementor-element-1119d32.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-654 .elementor-element.elementor-element-82e8b8a .site-logo {
    text-align: left;
}

.elementor-654 .elementor-element.elementor-element-82e8b8a .site-logo a {
    height: 120px;
}

.elementor-654 .elementor-element.elementor-element-82e8b8a .site-logo img {
    height: 120px;
}

.elementor-654 .elementor-element.elementor-element-82e8b8a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-654 .elementor-element.elementor-element-1c27af5 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-start;
    --align-items: flex-start;
    --background-transition: 0.3s;
}

.elementor-654 .elementor-element.elementor-element-1c27af5.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-654 .elementor-element.elementor-element-e66081e .site-title {
    text-align: left;
}

.elementor-654 .elementor-element.elementor-element-e66081e .site-title .site-name {
    font-size: 25px;
    color: var( --e-global-color-secondary);
}

.elementor-654 .elementor-element.elementor-element-e66081e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-654 .elementor-element.elementor-element-e66081e {
    width: var( --container-widget-width, 36.162%);
    max-width: 36.162%;
    --container-widget-width: 36.162%;
    --container-widget-flex-grow: 0;
}

.elementor-654 .elementor-element.elementor-element-e66081e.elementor-element {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-654 .elementor-element.elementor-element-cdaeb9a .navigation-bar li {
    margin-right: 1.5rem;
}

.elementor-654 .elementor-element.elementor-element-cdaeb9a {
    width: auto;
    max-width: auto;
}

.elementor-654 .elementor-element.elementor-element-cdaeb9a.elementor-element {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-654 .elementor-element.elementor-element-7729169>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-654 .elementor-element.elementor-element-7729169:not(.elementor-motion-effects-element-type-background),
.elementor-654 .elementor-element.elementor-element-7729169>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-654 .elementor-element.elementor-element-7729169 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-654 .elementor-element.elementor-element-7729169>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-654 .elementor-element.elementor-element-f58c027 {
    --divider-border-style: solid;
    --divider-color: #C9E2F8;
    --divider-border-width: 2px;
}

.elementor-654 .elementor-element.elementor-element-f58c027 .elementor-divider-separator {
    width: 100%;
}

.elementor-654 .elementor-element.elementor-element-f58c027 .elementor-divider {
    padding-block-start: 16px;
    padding-block-end: 16px;
}

.elementor-654 .elementor-element.elementor-element-f58c027.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-654 .elementor-element.elementor-element-c67feec {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-654 .elementor-element.elementor-element-c67feec:not(.elementor-motion-effects-element-type-background),
.elementor-654 .elementor-element.elementor-element-c67feec>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-654 .elementor-element.elementor-element-c67feec,
.elementor-654 .elementor-element.elementor-element-c67feec::before {
    --border-transition: 0.3s;
}

.elementor-654 .elementor-element.elementor-element-75b0f08 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-654 .elementor-element.elementor-element-75b0f08 .elementor-widget-container {
    text-align: center;
}

.elementor-654 .elementor-element.elementor-element-75b0f08.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-654 .elementor-element.elementor-element-b939a2f .navigation-bar li {
    margin-right: 1.5rem;
}

.elementor-654 .elementor-element.elementor-element-b939a2f {
    width: auto;
    max-width: auto;
}

.elementor-654 .elementor-element.elementor-element-b939a2f.elementor-element {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

@media(max-width:1024px) {
    .elementor-654 .elementor-element.elementor-element-e66081e {
        width: var( --container-widget-width, 482.55px);
        max-width: 482.55px;
        --container-widget-width: 482.55px;
        --container-widget-flex-grow: 0;
    }
    .elementor-654 .elementor-element.elementor-element-cdaeb9a {
        width: var( --container-widget-width, 91px);
        max-width: 91px;
        --container-widget-width: 91px;
        --container-widget-flex-grow: 0;
    }
    .elementor-654 .elementor-element.elementor-element-b939a2f {
        width: var( --container-widget-width, 91px);
        max-width: 91px;
        --container-widget-width: 91px;
        --container-widget-flex-grow: 0;
    }
}

@media(min-width:768px) {
    .elementor-654 .elementor-element.elementor-element-1119d32 {
        --width: 11.814%;
    }
    .elementor-654 .elementor-element.elementor-element-1c27af5 {
        --width: 84.063%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-654 .elementor-element.elementor-element-1119d32 {
        --width: 152.375px;
    }
    .elementor-654 .elementor-element.elementor-element-1c27af5 {
        --width: 541.475px;
    }
}

@media(max-width:767px) {
    .elementor-654 .elementor-element.elementor-element-82e8b8a .site-logo {
        text-align: center;
    }
    .elementor-654 .elementor-element.elementor-element-82e8b8a .site-logo a {
        height: 150px;
    }
    .elementor-654 .elementor-element.elementor-element-82e8b8a .site-logo img {
        height: 150px;
    }
    .elementor-654 .elementor-element.elementor-element-82e8b8a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-654 .elementor-element.elementor-element-82e8b8a.elementor-element {
        --align-self: center;
    }
    .elementor-654 .elementor-element.elementor-element-1c27af5 {
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --justify-content: center;
        --align-items: center;
    }
    .elementor-654 .elementor-element.elementor-element-1c27af5.e-con {
        --align-self: center;
    }
    .elementor-654 .elementor-element.elementor-element-e66081e .site-title {
        text-align: center;
    }
    .elementor-654 .elementor-element.elementor-element-e66081e .site-title .site-name {
        font-size: 28px;
    }
    .elementor-654 .elementor-element.elementor-element-e66081e>.elementor-widget-container {
        margin: 0px 0px 0px 030px;
    }
    .elementor-654 .elementor-element.elementor-element-e66081e {
        width: 100%;
        max-width: 100%;
    }
    .elementor-654 .elementor-element.elementor-element-e66081e.elementor-element {
        --align-self: center;
        --order: -99999/* order start hack */
        ;
        --flex-grow: 0;
        --flex-shrink: 0;
    }
    .elementor-bc-flex-widget .elementor-654 .elementor-element.elementor-element-4bcd04c.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }
    .elementor-654 .elementor-element.elementor-element-4bcd04c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }
    .elementor-654 .elementor-element.elementor-element-4bcd04c.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-654 .elementor-element.elementor-element-f58c027>.elementor-widget-container {
        padding: 1rem 0rem 1rem 0rem;
    }
    .elementor-654 .elementor-element.elementor-element-f58c027 {
        width: var( --container-widget-width, 319.2px);
        max-width: 319.2px;
        --container-widget-width: 319.2px;
        --container-widget-flex-grow: 0;
    }
    .elementor-654 .elementor-element.elementor-element-c67feec {
        --justify-content: center;
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-654 .elementor-element.elementor-element-c67feec.e-con {
        --align-self: center;
    }
    .elementor-654 .elementor-element.elementor-element-75b0f08 {
        --grid-template-columns: repeat(0, auto);
        --icon-size: 15px;
        width: var( --container-widget-width, 255px);
        max-width: 255px;
        --container-widget-width: 255px;
        --container-widget-flex-grow: 0;
    }
    .elementor-654 .elementor-element.elementor-element-75b0f08 .elementor-widget-container {
        text-align: left;
    }
    .elementor-654 .elementor-element.elementor-element-75b0f08.elementor-element {
        --align-self: center;
    }
    .elementor-654 .elementor-element.elementor-element-b939a2f .navigation-bar li {
        margin-right: 0px;
    }
    .elementor-654 .elementor-element.elementor-element-b939a2f {
        --container-widget-width: 34px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 34px);
        max-width: 34px;
    }
    .elementor-654 .elementor-element.elementor-element-b939a2f.elementor-element {
        --align-self: flex-end;
        --order: 99999/* order end hack */
        ;
    }
}